@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;
}

//responsive функция переводит пиксели в rem
@function rem($px) {
    @return $px / 16px+0rem; 
}